.p-schedule {
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(16);
    padding-right: rem(16);

    @include small-mobile-up {
      max-width: rem(540);
    }

    @include mobile-up {
      max-width: rem(720);
    }

    @include tablet-up {
      max-width: rem(960);
    }

    @include desktop-up {
      max-width: rem(1140);
    }

    @include break-min(1366px) {
      max-width: 1366px;
      padding-left: rem(120);
      padding-right: rem(120);
    }

    &_searchWrap {
        margin: rem(60) 0 rem(20);
    }

    &_listSchedule {
        margin-bottom: rem(60);
        border: rem(1) solid $black016;
    }

    &_table {
        width: 100%;
        border-bottom:1px solid black;
        max-height: rem(200);
        overflow-y: auto;
        @include scroll-bars();

        &_th {
            width: calc(100% / 6);
        }

        &_item {
            width: 100%;
        }

        &_body {
            max-height: rem(800);
            overflow-y: auto;
            @include scroll-bars();
            padding: rem(20) 0;
        }

        &_thead {
            min-width: 100%;

            .a-text {
                padding: rem(8);
            }


        }

        &_tbody {
            &_th {
                width: calc(100% / 6);
                .a-button {
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }
    }
}
