.o-heroBanner {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_content {
        margin-top: rem(12);
    }

    &_search {
        width: 100%;
        display: flex;
        margin: rem(12) 0 rem(20);
        background-color: $white;
        align-items: center;
        box-shadow: 4px 4px 20px 1px hsl(0deg 0% 55% / 40%);
        border-radius: rem(8);
        padding: 20px;
        position: relative;

        &_select {
            padding: rem(20);
            border: 0.5px solid #dce1e6;
            border-radius: rem(5);
            margin: 0 rem(4);
            width: rem(260);

            .react-datepicker__input-container {
                height: rem(38);
                
                input {
                    padding-left: rem(12);
                    height: 100%;
                    width: 100%;
                    border: 0.5px solid #dce1e6;
                    border-radius: rem(5);
                }
            }
        }

        &_btn {
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(20%, 50%);

            .a-button {
                width: fit-content;
            }
        }

    }
}