.m-pulldown {
    $root: &;
    position: relative;
    width: 100%;
    max-width: 100%;

    &_label {
        margin-bottom: rem(4);
    }

    &_headerWrap {
        @include adjust-flex(space-between, center);
        padding: rem(11) rem(16);
        border-radius: rem(8);
        border: rem(1) solid $cool-black;
        cursor: pointer;
        background-color: $white;

        &_iconWrap {
            transform: rotate((180deg));
            transition: $transition;
            @include adjust-flex;

            &-open {
                transform: rotate(0deg);
                transition: $transition;
            }
        }

        &_initOption {
            .a-text {
                @include text-overflow(1);
            }
        }
    }

    &_optionWrap {
        max-height: rem(260);
        @include scroll-bars();
        overflow-y: auto;
        border-radius: rem(8);
        border: rem(1) solid $cool-black;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        right: 0;
        visibility: hidden;
        cursor: pointer;
        list-style: none;
        z-index: $z-1;
        background-color: $white;
        filter: drop-shadow(0 4px 12px rgba($black, 0.06));

        &-open {
            visibility: visible;
        }

        &_item {
            padding: rem(12) rem(16);

            &-choose,
            &:hover {
                background-color: $white-smoke;
            }

            &:first-child {
                border-radius: rem(8) rem(8) 0 0;
            }

            &:last-child {
                border-radius: 0 0 rem(8) rem(8);
            }
        }

        &_noOption {
            border-radius: rem(8) !important;
        }
    }

    &-inline {
        @include adjust-flex('flex-start');
        #{$root}_headerWrap {
            position: relative;
            flex: 1;
            margin-left: rem(12);
        }
    }
}