.p-newsDetail {
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(16);
    padding-right: rem(16);

    @include small-mobile-up {
      max-width: rem(540);
    }

    @include mobile-up {
      max-width: rem(720);
    }

    @include tablet-up {
      max-width: rem(960);
    }

    @include desktop-up {
      max-width: rem(1140);
    }

    @include break-min(1366px) {
      max-width: 1366px;
      padding-left: rem(120);
      padding-right: rem(120);
    }

    padding-top: rem(100);
    padding-bottom: rem(100);

    @include tablet-down {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }

    @include mobile-down {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }

    &_detailWrap {
        margin-top: rem(50);
        border-left: rem(5) solid $cool-black;
        padding: rem(12) rem(25);

        @include mobile-down {
          margin-top: rem(20);
        }

        &_time {
            @include adjust-flex(flex-start, center);

            svg {
                margin-right: rem(4);
                color: $dim-gray;
                font-size: 600;
            }
        }

        &_trailer {
            margin-top: rem(10);
        }
    }

    &_content {
        margin-top: rem(40);

        @include mobile-down {
            margin-bottom: rem(20);
        }
    }

}